header {
  background-color: $purple;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .row {
    .nav {
      @include flex('', space-between, center, '', '');

      .logo {
        a {
          @include flex('', '', center, '', '');

          img {
            width: 17rem;
          }
        }
      }

      .menu {
        @include flex(row-reverse, space-between, center, '', '');
        width: 60%;

        &>.btn{
          width: 25%;
        }

        .items {
          width: 100%;
          @include flex('', center, center, '', '');

          .menuItem {
            @include flex('', center, center, '', '');
            height: 100%;
            width: 20%;
            position: relative;
            direction: rtl;
            font-size: 1.4rem;
            transition: all 0.5s;
            padding: 2rem 0;

            a {
              color: $white;
              transition: all 0.5s;
            }


            &:before {
              content: '';
              transition: all 0.5s;
              z-index: -1;
              position: absolute;
              width: .5rem;
              height: .5rem;
              background-color: $white;
              top: 50%;
              right: 1.3rem;
              transform: translate(0, -50%);

            }

            &:hover {
              a {
                color: $purple;
              }

              &:before {
                width: calc(100% - 3.7rem);
                padding-left: 1rem;

                height: 100%;

              }
            }
          }
        }
      }
    }
  }
}