header {
  background-color: $purple;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  
  .row {
    .nav {
      @include flex('', space-between, center, '', '');

      .logo {
        a {
          @include flex('', '', center, '', '');

          img {
            width: 17rem;
          }
        }
      }

      .menu {
        @include flex(row-reverse, space-evenly, center, '', '');
        width: 60%;

        &Item {
          height: 100%;
          margin-right: 4rem;
          position: relative;
          font-size: 1.4rem;
          transition: all 0.5s;
          padding: 2rem 0;

          a {
            color: $white;
            transition: all 0.5s;
          }


          &:not(:nth-child(1)) {
            &:before {
              content: '';
              transition: all 0.5s;
              z-index: -1;
              position: absolute;
              width: .5rem;
              height: .5rem;
              background-color: $white;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              right: -2rem;
            }
          }

          &:hover {
            a {
              color: $purple;
            }

            &:before {
              width: 150%;
              padding-left: 1rem;

              height: 100%;

            }
          }
        }
      }
    }
  }
}