.btn {
    @include flex('', space-between, center, '', '');
    padding: .5rem 3rem;
    border-radius: $border-radius*3;
    cursor: pointer;
    font-size: 1.1rem;

    &.white-bordered {
        border: 2px solid $white;

        p {
            padding-right: 1rem;
            color: $white;
        }
    }

    &.purple {
        cursor: pointer;
        background-color: $purple;

        p {
            color: $white;
            padding: 0 2rem;
        }
    }

    &.purple-bordered {
        border: 2px solid $purple;

        p {
            padding-right: 1rem;
            color: $purple;
        }
    }
}