.heroCont {
  background-color: $purple;
  height: calc(100vh - 6rem);
  box-shadow: 0.2rem 0.5rem .4rem $font_color_gray_light;


  .container {
    width: 100%;
    height: calc(100vh - 8rem);
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $purple;
    background-attachment: fixed;

    @include flex(column, center, center, '', '');

    .title {
      width: 80%;
      @include flex('', flex-end, center, '', '');
      transition: all 0.5s;

      &>.item {
        @include flex('', space-between, center, '', '');
        width: 20%;
        padding: 1rem 3rem;
        font-size: 1.5rem;
        border-radius: $border_radius*2.5;
        background-color: $white;
        border: 0.5rem double transparent;
        color: $purple;
        transition: all 0.5s;

        &:hover{
          border: 0.5rem double $purple;
        }

        span {
          width: 5rem;
          font-size: 5rem;
        }

        p {
          color: $purple;
        }

        &:not(:last-child) {
          margin: 1rem;
        }
      }

      .active {
        background-color: $purple;
        color: $white;
        transition: all 0.3s;

        p {
          color: $white;
        }
      }

    }

    .searchContainer {
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: $border_radius*2.5;
      width: 80%;
      @include flex(column, '', center, '', '');

      .cont {
        width: 70%;
        @include flex(column, '', center, '', '');

        .search {
          @include flex('', center, center, '', '');
          width: 100%;
          margin-top: 10rem;
          margin-bottom: 1rem;
          border-radius: $border_radius*2.5;
          box-shadow: 0.2rem 0.3rem 0.2rem $font_color_gray_light;

          input {
            outline: none;
            border: none;
            padding: 1.35rem;
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            text-align: right;
            width: 100%;

            &::placeholder {
              direction: rtl;
              color: $font_color_gray_light;
            }

            &:placeholder-shown {}
          }

          &-btn {
            width: 5%;
            @include flex('', center, center, '', '');
            background-color: $white;
            border-top-left-radius: 2.5rem;
            border-bottom-left-radius: 2.5rem;
            cursor: pointer;

            img {
              padding: .9rem 1rem;
              width: 4.2rem;
            }
          }
        }

        .categories {
          @include flex('', space-between, center, '', '');
          width: 100%;

          .category {
            @include flex('', space-between, center, '', '');
            box-shadow: 0.2rem 0.3rem 0.2rem $font_color_gray_light;
            border-radius: $border_radius*2.5;
            background-color: $white;
            overflow: hidden;
            width: 23%;

            p {
              color: $font_color_gray_light;
              font-size: 1.2rem;
            }

            .icon {
              height: 3.5rem;
              width: 3.5rem;
              padding: .5rem;
              background-color: $gray_bg;
              border-radius: 50%;
              margin: 0.1rem;
            }

            .arrow {
              font-size:  0.8rem;
              margin: 1rem 2rem;
              color: $purple;
            }
          }
        }

        .advanced-search {
          @include flex('', center, center, '', '');
          width: 100%;
          margin-top: 2rem;

          p {
            position: relative;
            color: $purple;

            &:before {
              content: '+';
              color: $purple;
              position: absolute;
              top: 50%;
              right: -2rem;
              transform: translate(0, -50%);
            }
          }
        }

        &>.btn {
          margin: 4rem 0;
          align-self: flex-start;
        }
      }
    }
  }
}