.itemsCont {
    margin-top: 2rem;
    margin-bottom: 7rem;

    .row {
        @include flex(column, center, flex-end, '', '');


        .titles {
            width: 100%;
            @include flex('', space-between, center, '', '');
            margin-bottom: 2rem;

            .title {
                @include flex('', '', center, '', '');

                span {
                    font-size: 5rem;
                    color: $purple;
                }

                p {
                    margin-right: 1rem;
                    color: $purple;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }

        .items {
            @include flex('', space-between, center, '', '');
            width: 100%;

            .item {
                @include flex('', '', '', '', '');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: $border_radius*3;
                overflow: hidden;
                width: 22%;
                height: 35rem;

                &:hover {
                    .container {
                        transform: translate(0, 40%);
                    }
                }

                .container {
                    @include flex(column, '', '', '', '');
                    direction: rtl;
                    width: 100%;
                    height: 30rem;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, black 100%);
                    border-radius: $border_radius*3;
                    padding: 2rem;
                    transform: translate(0, 72%);

                    &>.description {
                        @include flex(column, '', '', '', '');
                        width: 100%;
                        height: 60%;

                        p {
                            font-size: 1.5rem;
                            color: $white;
                        }

                        .content {
                            @include flex('', '', center, '', '');

                            span {
                                color: $white;
                                margin-left: 1.5rem;
                            }
                        }

                        .status {
                            font-weight: 100;
                            font-size: 1rem;
                        }

                        .name {
                            font-weight: 500;
                        }
                    }

                    .signiture {
                        @include flex('', center, center, '', '');

                        img {
                            margin-left: 1rem;
                        }

                        p {
                            color: $white;
                        }
                    }
                }

            }
        }
    }
}