.mapLink{
    height: 13.5rem;
    align-self: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border_radius*2.5;
    @include flex(column, center, center, '', '');

    .title{
        p{
            font-size: 1.7rem;
            font-weight: 500;
            color: $white;
        }
    }

    .description{
        p{
            color: $white;
        }
    }

    .btn{
        margin-top: 2rem;
        padding: 1 5rem;
    }
}