/* abstratcs */
/* flexbox values 

  @params ( flex-direction , justify-content . align-items , flex , flex-wrap )

*/
/* responsive mixin 

  @params (breakpoint , screen-size)

  breakpoint => {
    0 - 600 = phone
    600 - 900 = tablet
    900 - 1600 = desktop
    1600 - infinity = bigscreen
  }

*/
/* base */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

html,
body,
header,
footer,
div,
* {
  box-sizing: border-box !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #5f5f5f; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background-color: #4925E1;
  transition: .3s; }

::-webkit-scrollbar-thumb:hover {
  background-color: #5f5f5f; }

@font-face {
  font-family: 'iransans';
  src: url("./../../fonts/iransans.otf"); }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1930px) {
    html {
      font-size: 106.25%; } }
  @media only screen and (min-width: 1500px) and (max-width: 1920px) {
    html {
      font-size: 81.25%; } }
  html.rtl {
    direction: rtl; }

html,
body,
* {
  font-family: 'iransans'; }

/* layout */
.container {
  font-size: 1.5rem;
  transition: 0.4s;
  overflow: hidden; }
  .container > header,
  .container section,
  .container footer {
    transition: 0.4s; }
  .container.perspective {
    transition: 0.4s;
    perspective: 1300px;
    overflow: hidden;
    height: 100vh; }
    .container.perspective > header,
    .container.perspective section,
    .container.perspective footer {
      transition: 0.4s;
      transform: translateZ(-30rem) rotateX(21deg) translateY(20rem); }

.row {
  min-width: 120rem;
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .row {
      min-width: auto;
      max-width: auto;
      width: 100%; } }

button {
  outline: none; }

body {
  position: relative;
  background: #ECECEC; }

header {
  background-color: #4925E1;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999; }
  header .row .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .row .nav .logo a {
      display: flex;
      align-items: center; }
      header .row .nav .logo a img {
        width: 17rem; }
    header .row .nav .menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      width: 60%; }
      header .row .nav .menu > .btn {
        width: 25%; }
      header .row .nav .menu .items {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .row .nav .menu .items .menuItem {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 20%;
          position: relative;
          direction: rtl;
          font-size: 1.4rem;
          transition: all 0.5s;
          padding: 2rem 0; }
          header .row .nav .menu .items .menuItem a {
            color: #ffffff;
            transition: all 0.5s; }
          header .row .nav .menu .items .menuItem:before {
            content: '';
            transition: all 0.5s;
            z-index: -1;
            position: absolute;
            width: .5rem;
            height: .5rem;
            background-color: #ffffff;
            top: 50%;
            right: 1.3rem;
            transform: translate(0, -50%); }
          header .row .nav .menu .items .menuItem:hover a {
            color: #4925E1; }
          header .row .nav .menu .items .menuItem:hover:before {
            width: calc(100% - 3.7rem);
            padding-left: 1rem;
            height: 100%; }

.footer {
  background-color: #4925E1;
  position: relative;
  font-size: 1.7rem;
  padding-bottom: 5rem; }
  .footer .row {
    display: flex;
    justify-content: space-between; }
    .footer .row .description {
      display: flex;
      flex: 0 1 33%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem; }
      .footer .row .description .logo {
        display: flex;
        flex: 0 1 33%;
        justify-content: center;
        align-items: center;
        padding: 3rem; }
        .footer .row .description .logo img {
          width: 80%; }
      .footer .row .description .text {
        font-size: 1.2rem;
        text-align: right;
        color: #ffffff; }
    .footer .row > .search {
      display: flex;
      flex: 0 1 33%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative; }
      .footer .row > .search img {
        position: absolute;
        top: -34%;
        width: 53%; }
      .footer .row > .search p {
        color: #ffffff; }
      .footer .row > .search > .description {
        margin-top: 16.5rem;
        width: 100%; }
        .footer .row > .search > .description > .btn {
          padding: 1rem 5rem;
          margin-top: 2rem;
          font-size: 1.5rem; }
          .footer .row > .search > .description > .btn > p {
            padding: 0; }
    .footer .row .socialNetworks {
      display: flex;
      flex: 0 1 33%;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .footer .row .socialNetworks .namad {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        .footer .row .socialNetworks .namad p {
          color: #ffffff;
          margin-top: 2rem;
          margin-bottom: 1rem; }
        .footer .row .socialNetworks .namad .links span {
          font-size: 3.5rem;
          margin: 0.2rem;
          color: #ffffff;
          transition: all 0.5s;
          position: relative;
          z-index: 0; }
          .footer .row .socialNetworks .namad .links span:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            background: #ffffff;
            z-index: -1;
            transition: all 0.3s; }
          .footer .row .socialNetworks .namad .links span:hover {
            color: #4925E1; }
            .footer .row .socialNetworks .namad .links span:hover:after {
              width: 110%;
              height: 110%; }

/* components */
.heroCont {
  background-color: #4925E1;
  height: calc(100vh - 6rem);
  box-shadow: 0.2rem 0.5rem 0.4rem #D1D1D1; }
  .heroCont .container {
    width: 100%;
    height: calc(100vh - 8rem);
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4925E1;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .heroCont .container .title {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transition: all 0.5s; }
      .heroCont .container .title > .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        padding: 1rem 3rem;
        font-size: 1.5rem;
        border-radius: 2.5rem;
        background-color: #ffffff;
        border: 0.5rem double transparent;
        color: #4925E1;
        transition: all 0.5s; }
        .heroCont .container .title > .item:hover {
          border: 0.5rem double #4925E1; }
        .heroCont .container .title > .item span {
          width: 5rem;
          font-size: 5rem; }
        .heroCont .container .title > .item p {
          color: #4925E1; }
        .heroCont .container .title > .item:not(:last-child) {
          margin: 1rem; }
      .heroCont .container .title .active {
        background-color: #4925E1;
        color: #ffffff;
        transition: all 0.3s; }
        .heroCont .container .title .active p {
          color: #ffffff; }
    .heroCont .container .searchContainer {
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 2.5rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .heroCont .container .searchContainer .cont {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .heroCont .container .searchContainer .cont .search {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 10rem;
          margin-bottom: 1rem;
          border-radius: 2.5rem;
          box-shadow: 0.2rem 0.3rem 0.2rem #D1D1D1; }
          .heroCont .container .searchContainer .cont .search input {
            outline: none;
            border: none;
            padding: 1.35rem;
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            text-align: right;
            width: 100%;
            font-size: 1.2rem; }
            .heroCont .container .searchContainer .cont .search input::placeholder {
              direction: rtl;
              color: #D1D1D1; }
          .heroCont .container .searchContainer .cont .search-btn {
            align-self: stretch;
            width: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border-top-left-radius: 2.5rem;
            border-bottom-left-radius: 2.5rem;
            cursor: pointer; }
            .heroCont .container .searchContainer .cont .search-btn span {
              color: #D1D1D1;
              font-size: 1.8rem; }
        .heroCont .container .searchContainer .cont .categories {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%; }
          .heroCont .container .searchContainer .cont .categories .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0.2rem 0.3rem 0.2rem #D1D1D1;
            border-radius: 2.5rem;
            background-color: #ffffff;
            overflow: hidden;
            transition: border 0.3s;
            width: 23%;
            border: 0.1rem solid transparent; }
            .heroCont .container .searchContainer .cont .categories .category p {
              color: #D1D1D1;
              font-size: 1.2rem; }
            .heroCont .container .searchContainer .cont .categories .category .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5rem;
              width: 3.5rem;
              background-color: #ECECEC;
              border-radius: 50%;
              margin: 0.1rem; }
              .heroCont .container .searchContainer .cont .categories .category .icon-house {
                font-size: 2.2rem; }
              .heroCont .container .searchContainer .cont .categories .category .icon-bed {
                font-size: 1.4rem; }
              .heroCont .container .searchContainer .cont .categories .category .icon span {
                padding: .5rem;
                color: #4925E1; }
            .heroCont .container .searchContainer .cont .categories .category .arrow {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5rem;
              width: 3.5rem;
              margin: 0.1rem;
              transition: 0.5s; }
              .heroCont .container .searchContainer .cont .categories .category .arrow span {
                font-size: 0.8rem;
                color: #4925E1; }
            .heroCont .container .searchContainer .cont .categories .category.active {
              border: 0.1rem solid #4925E1; }
              .heroCont .container .searchContainer .cont .categories .category.active .arrow {
                transform: rotate(180deg); }
        .heroCont .container .searchContainer .cont .advanced-search {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 2rem; }
          .heroCont .container .searchContainer .cont .advanced-search p {
            position: relative;
            color: #4925E1; }
            .heroCont .container .searchContainer .cont .advanced-search p:before {
              content: '+';
              color: #4925E1;
              position: absolute;
              top: 50%;
              right: -2rem;
              transform: translate(0, -50%); }
        .heroCont .container .searchContainer .cont > .btn {
          margin: 4rem 0;
          align-self: flex-start; }

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 3rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.1rem;
  overflow: hidden;
  transition: 0.5s;
  position: relative;
  z-index: 0; }
  .btn.white-bordered {
    border: 2px solid #ffffff; }
    .btn.white-bordered span {
      font-size: 1.8rem;
      margin-left: 1rem;
      color: #ffffff; }
    .btn.white-bordered:after {
      content: '';
      top: 50%;
      left: 50%;
      opacity: 0;
      height: 0%;
      width: 100%;
      z-index: -1;
      background: #ffffff;
      position: absolute;
      transition: all 0.5s;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
    .btn.white-bordered p {
      color: #ffffff; }
    .btn.white-bordered:hover span {
      color: #4925E1; }
    .btn.white-bordered:hover p {
      color: #4925E1; }
    .btn.white-bordered:hover:after {
      height: 1000%;
      opacity: 1; }
  .btn.purple {
    cursor: pointer;
    background-color: #4925E1;
    border: 2px double #4925E1; }
    .btn.purple p {
      color: #ffffff;
      padding: 0 2rem; }
    .btn.purple:after {
      content: '';
      top: 50%;
      left: 50%;
      opacity: 0;
      height: 0%;
      width: 100%;
      z-index: -1;
      background: #ffffff;
      position: absolute;
      transition: all 0.5s;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
    .btn.purple:hover {
      box-shadow: 0.2rem 0.3rem 0.2rem #D1D1D1; }
      .btn.purple:hover p {
        color: #4925E1; }
      .btn.purple:hover:after {
        height: 9000%;
        opacity: 1; }
  .btn.purple-bordered {
    border: 2px solid #4925E1; }
    .btn.purple-bordered p {
      padding-right: 1rem;
      color: #4925E1; }
    .btn.purple-bordered:after {
      content: '';
      top: 50%;
      left: 50%;
      opacity: 0;
      height: 0%;
      width: 100%;
      z-index: -1;
      background: #4925E1;
      position: absolute;
      transition: all 00.5s;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
    .btn.purple-bordered:hover {
      box-shadow: 0.2rem 0.3rem 0.2rem #D1D1D1; }
      .btn.purple-bordered:hover p {
        color: #ffffff; }
      .btn.purple-bordered:hover:after {
        height: 600%;
        opacity: 1; }

.itemsCont {
  margin-top: 2rem;
  margin-bottom: 7rem; }
  .itemsCont .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end; }
    .itemsCont .row .itemsTitles {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem; }
      .itemsCont .row .itemsTitles .title {
        display: flex;
        align-items: center; }
        .itemsCont .row .itemsTitles .title span {
          font-size: 5rem;
          color: #4925E1; }
        .itemsCont .row .itemsTitles .title p {
          margin-right: 1rem;
          color: #4925E1;
          font-size: 1.5rem;
          font-weight: 600; }
    .itemsCont .row .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .itemsCont .row .items .item {
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3rem;
        overflow: hidden;
        width: 22%;
        height: 35rem;
        cursor: pointer; }
        .itemsCont .row .items .item:hover .container {
          transform: translate(0, 40%); }
        .itemsCont .row .items .item .container {
          display: flex;
          flex-direction: column;
          direction: rtl;
          width: 100%;
          height: 30rem;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, black 100%);
          border-radius: 3rem;
          padding: 2rem;
          transform: translate(0, 72%); }
          .itemsCont .row .items .item .container > .description {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60%; }
            .itemsCont .row .items .item .container > .description p {
              font-size: 1.5rem;
              color: #ffffff; }
            .itemsCont .row .items .item .container > .description .content {
              display: flex;
              align-items: center; }
              .itemsCont .row .items .item .container > .description .content span {
                color: #ffffff;
                margin-left: 1.5rem; }
            .itemsCont .row .items .item .container > .description .status {
              font-weight: 100;
              font-size: 1rem; }
            .itemsCont .row .items .item .container > .description .name {
              font-weight: 500; }
          .itemsCont .row .items .item .container .signiture {
            display: flex;
            justify-content: center;
            align-items: center; }
            .itemsCont .row .items .item .container .signiture img {
              margin-left: 1rem; }
            .itemsCont .row .items .item .container .signiture p {
              color: #ffffff; }

.mapLink {
  height: 13.5rem;
  align-self: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .mapLink .title p {
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff; }
  .mapLink .description p {
    color: #ffffff; }
  .mapLink .btn {
    margin-top: 2rem;
    padding: 1 5rem; }

.articlesCont {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 5rem 0 20rem 0; }
  .articlesCont #sliders {
    width: 30%;
    position: relative;
    background-color: #ffffff;
    align-self: stretch;
    border-radius: 1.5rem; }
    .articlesCont #sliders .item {
      width: 100%;
      height: 52rem;
      direction: rtl; }
      .articlesCont #sliders .item .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1.5rem;
        height: 60%; }
      .articlesCont #sliders .item .title {
        padding: 1rem 2rem; }
        .articlesCont #sliders .item .title p {
          font-size: 1.6rem;
          color: #4925E1; }
      .articlesCont #sliders .item .description p {
        padding: 0 2rem;
        font-size: 1.2rem; }
    .articlesCont #sliders .owl-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1rem; }
      .articlesCont #sliders .owl-dots button {
        width: 10px;
        height: 10px;
        padding: 20px;
        background-color: #b3b3b3;
        margin: 1rem;
        border-radius: 50%; }
        .articlesCont #sliders .owl-dots button.active {
          background-color: #7e7e7e; }
  .articlesCont .icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem; }
    .articlesCont .icons span {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #4925E1;
      position: relative; }
      .articlesCont .icons span:before {
        content: '';
        position: absolute;
        top: -3rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4925E1; }
      .articlesCont .icons span:after {
        content: '';
        position: absolute;
        top: 3rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4925E1; }
  .articlesCont .articles {
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 2rem;
    width: 60%; }
    .articlesCont .articles .article {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0; }
      .articlesCont .articles .article:not(:last-child) {
        border-bottom: 0.5px solid #4925E1; }
      .articlesCont .articles .article .content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%; }
        .articlesCont .articles .article .content .image {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 1.5rem;
          width: 25%;
          height: 11rem;
          margin-left: 2rem; }
        .articlesCont .articles .article .content .details {
          direction: rtl; }
          .articlesCont .articles .article .content .details .title {
            padding: 1rem 0; }
            .articlesCont .articles .article .content .details .title p {
              font-size: 1.6rem;
              color: #4925E1; }
          .articlesCont .articles .article .content .details .description p {
            font-size: 1.2rem; }
      .articlesCont .articles .article .date {
        color: #D1D1D1;
        font-size: 1.4rem; }

.headFilter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(73, 37, 225, 0.3);
  width: 100%; }
  .headFilter > .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center; }
    .headFilter > .row .search {
      display: flex;
      flex: 0 1 30%;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem 0;
      border-radius: 2.5rem;
      box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15); }
      .headFilter > .row .search input {
        outline: none;
        border: none;
        padding: 1rem;
        border-top-right-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        text-align: right;
        font-size: 1.2rem;
        width: 100%; }
        .headFilter > .row .search input::placeholder {
          direction: rtl;
          color: #D1D1D1; }
      .headFilter > .row .search-btn {
        align-self: stretch;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        cursor: pointer; }
        .headFilter > .row .search-btn span {
          color: #D1D1D1;
          font-size: 1.8rem; }
    .headFilter > .row .categories {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%; }
      .headFilter > .row .categories .category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15);
        border-radius: 2.5rem;
        background-color: #ffffff;
        overflow: hidden;
        transition: border 0.3s;
        width: 23%;
        border: 0.1rem solid transparent; }
        .headFilter > .row .categories .category p {
          color: #D1D1D1;
          font-size: 1.2rem; }
        .headFilter > .row .categories .category .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3.5rem;
          width: 3.5rem;
          background-color: #ECECEC;
          border-radius: 50%;
          margin: 0.1rem; }
          .headFilter > .row .categories .category .icon-house {
            font-size: 2.2rem; }
          .headFilter > .row .categories .category .icon-bed {
            font-size: 1.4rem; }
          .headFilter > .row .categories .category .icon span {
            padding: .5rem;
            color: #4925E1; }
        .headFilter > .row .categories .category .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3.5rem;
          width: 3.5rem;
          margin: 0.1rem;
          transition: 0.5s; }
          .headFilter > .row .categories .category .arrow span {
            font-size: 0.8rem;
            color: #4925E1; }
        .headFilter > .row .categories .category.active {
          border: 0.1rem solid #4925E1; }
          .headFilter > .row .categories .category.active .arrow {
            transform: rotate(180deg); }
    .headFilter > .row > .btn {
      font-size: 1.5rem; }

#location {
  width: 49%;
  align-self: stretch;
  height: 40rem;
  border-radius: 2.5rem; }

.chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2.5rem;
  background-color: #ffffff;
  width: 48%;
  padding: 2rem;
  align-self: stretch; }
  .chart .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e8e8e8; }
  .chart .legend {
    align-self: flex-start;
    width: 90%;
    padding: 2rem 0; }
    .chart .legend p {
      font-size: 1.5rem;
      position: relative;
      padding: 0 3rem;
      margin: 0 2rem; }
      .chart .legend p::before {
        content: '';
        width: 1rem;
        height: 1rem;
        border-radius: 35%;
        background-color: #3497fd;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%); }
  .chart #chart {
    align-self: center;
    width: 90% !important;
    height: 25rem !important; }

/* pages */
.itemsContainer {
  margin: 5rem 0 15rem 0; }
  .itemsContainer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 0; }
    .itemsContainer .container .itemsListCont {
      width: 75%;
      margin: 0 3% 0 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .itemsContainer .container .itemsListCont > .items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; }
        .itemsContainer .container .itemsListCont > .items .item {
          display: flex;
          flex: 0 1 30%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 3rem;
          overflow: hidden;
          margin-bottom: 2rem; }
          .itemsContainer .container .itemsListCont > .items .item:not(:nth-child(3n)) {
            margin-right: 3%; }
          .itemsContainer .container .itemsListCont > .items .item:hover .container {
            transform: translate(0, 20%); }
          .itemsContainer .container .itemsListCont > .items .item .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            direction: rtl;
            width: 100%;
            height: 30rem;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, black 100%);
            border-radius: 3rem;
            padding: 2rem;
            transform: translate(0, 73%); }
            .itemsContainer .container .itemsListCont > .items .item .container > .description {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 60%; }
              .itemsContainer .container .itemsListCont > .items .item .container > .description p {
                font-size: 1.5rem;
                color: #ffffff; }
              .itemsContainer .container .itemsListCont > .items .item .container > .description .content {
                display: flex;
                align-items: center; }
                .itemsContainer .container .itemsListCont > .items .item .container > .description .content span {
                  color: #ffffff;
                  margin-left: 1.5rem; }
              .itemsContainer .container .itemsListCont > .items .item .container > .description .status {
                font-weight: 100;
                font-size: 1rem; }
              .itemsContainer .container .itemsListCont > .items .item .container > .description .name {
                font-weight: 500; }
            .itemsContainer .container .itemsListCont > .items .item .container .signiture {
              display: flex;
              justify-content: center;
              align-items: center; }
              .itemsContainer .container .itemsListCont > .items .item .container .signiture img {
                margin-left: 1rem; }
              .itemsContainer .container .itemsListCont > .items .item .container .signiture p {
                color: #ffffff; }
    .itemsContainer .container .filters {
      width: 22%;
      background-color: #ffffff;
      border-radius: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      padding: 3rem;
      position: sticky;
      top: 10rem; }
      .itemsContainer .container .filters .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .itemsContainer .container .filters .content .title {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          border-bottom: 0.1rem solid rgba(73, 37, 225, 0.3);
          margin-bottom: 1rem; }
          .itemsContainer .container .filters .content .title span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4925E1;
            padding: 0.5rem;
            height: 3.5rem;
            width: 3.5rem;
            margin: 0.1rem; }
          .itemsContainer .container .filters .content .title p {
            padding: 0.5rem 2rem;
            color: #4925E1; }
        .itemsContainer .container .filters .content .filter {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1rem 0;
          border-radius: 2.5rem;
          border: 1px solid transparent;
          transition: all 0.3s; }
          .itemsContainer .container .filters .content .filter > span {
            color: #4925E1;
            font-size: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            margin: 0.1rem;
            transition: all 0.5s; }
          .itemsContainer .container .filters .content .filter .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            background-color: #ECECEC;
            border-radius: 50%;
            margin: 0.1rem; }
            .itemsContainer .container .filters .content .filter .icon-house {
              font-size: 2.2rem; }
            .itemsContainer .container .filters .content .filter .icon-bed {
              font-size: 1.4rem; }
            .itemsContainer .container .filters .content .filter .icon span {
              padding: 0.5rem;
              color: #4925E1; }
          .itemsContainer .container .filters .content .filter p {
            padding: 0.5rem 2rem;
            color: #D1D1D1; }
          .itemsContainer .container .filters .content .filter.active {
            box-shadow: none;
            border-radius: 2.5rem; }
            .itemsContainer .container .filters .content .filter.active > span {
              transform: rotate(-180deg); }

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem; }
  .sliderContainer #propertySlider {
    width: 100%;
    position: relative;
    z-index: 0; }
    .sliderContainer #propertySlider .owl-stage-outer .owl-stage .owl-item {
      opacity: 0.6; }
      .sliderContainer #propertySlider .owl-stage-outer .owl-stage .owl-item.center {
        opacity: 1; }
    .sliderContainer #propertySlider .slide {
      width: 100%; }
      .sliderContainer #propertySlider .slide .image {
        height: 60vh;
        width: 100%;
        border-radius: 2.5rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
    .sliderContainer #propertySlider .owl-nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: #4925E1;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.descriptions .row {
  display: flex;
  justify-content: space-between; }
  .descriptions .row .content {
    width: 22%;
    background-color: #ffffff;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem; }
    .descriptions .row .content .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; }
      .descriptions .row .content .header .icons {
        display: flex;
        justify-content: center;
        align-items: center; }
        .descriptions .row .content .header .icons span {
          font-size: 1.3rem;
          padding: 0.2rem;
          color: #BBBCCD;
          transition: 0.3s;
          cursor: pointer; }
          .descriptions .row .content .header .icons span:hover {
            color: #4925E1; }
      .descriptions .row .content .header h2 {
        font-size: 1.7rem;
        color: #4925E1; }
    .descriptions .row .content .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 1rem; }
    .descriptions .row .content .area {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem; }
      .descriptions .row .content .area p {
        color: #000000; }
      .descriptions .row .content .area .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 3.5rem; }
        .descriptions .row .content .area .icon span {
          font-size: 1.5rem;
          color: #000000; }
    .descriptions .row .content .price {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 800; }
      .descriptions .row .content .price p {
        color: #000000; }
    .descriptions .row .content .contact {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-self: center;
      border-top: 2px solid #4925E1;
      width: 100%; }
      .descriptions .row .content .contact .description {
        margin: 2rem 0;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .descriptions .row .content .contact .description .logo {
          display: flex;
          align-items: center;
          margin-left: 2rem; }
          .descriptions .row .content .contact .description .logo img {
            width: 4rem; }
        .descriptions .row .content .contact .description .desc {
          display: flex;
          align-items: center; }
          .descriptions .row .content .contact .description .desc p {
            font-size: 1.5rem;
            color: #000000; }
      .descriptions .row .content .contact .btn {
        align-self: center;
        width: 80%; }
        .descriptions .row .content .contact .btn span {
          color: #4925E1;
          transition: 0.3s; }
        .descriptions .row .content .contact .btn:hover span {
          color: #ffffff; }
  .descriptions .row .features {
    width: 75%;
    margin-right: 3%;
    background-color: #ffffff;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0; }
    .descriptions .row .features .propertyFeatures {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 4rem;
      border-bottom: 1px solid #4925E1; }
      .descriptions .row .features .propertyFeatures .feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        padding: 0 7%; }
        .descriptions .row .features .propertyFeatures .feature .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3.5rem;
          width: 3.5rem; }
          .descriptions .row .features .propertyFeatures .feature .icon span {
            font-size: 1.7rem;
            color: #4925E1; }
        .descriptions .row .features .propertyFeatures .feature p {
          font-size: 1.4rem;
          color: #000000;
          direction: rtl; }
    .descriptions .row .features .propertyDescriptions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 90%;
      padding: 2rem 0; }
      .descriptions .row .features .propertyDescriptions p {
        font-size: 1.4rem;
        color: #000000; }

.location-chart {
  margin: 3rem 0; }
  .location-chart .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.itemsCont {
  margin-bottom: 15rem; }
  .itemsCont .row .titles {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem; }
    .itemsCont .row .titles .title {
      display: flex;
      align-items: center; }
      .itemsCont .row .titles .title span {
        font-size: 4rem;
        color: #4925E1; }
      .itemsCont .row .titles .title p {
        margin-right: 1rem;
        color: #4925E1;
        font-size: 1.7rem;
        font-weight: 600; }
  .itemsCont .row #relatedSlider .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #4925E1;
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-position: bottom;
  margin-top: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem; }
  .login .inputs {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login .inputs .title h2 {
      font-size: 1.7rem;
      margin: 1rem 0;
      color: #4925E1; }
    .login .inputs .input {
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
      .login .inputs .input input {
        width: 150%;
        font-size: 1.4rem;
        padding: 1rem 5rem;
        color: #4925E1;
        border: none;
        border-radius: 2rem;
        outline: none;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }
      .login .inputs .input.password {
        border-radius: 2rem;
        overflow: hidden;
        position: relative; }
        .login .inputs .input.password > input {
          padding: 1rem 5rem;
          background-color: #ffffff;
          color: #ffffff; }
        .login .inputs .input.password .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.5rem;
          height: 3.5rem;
          padding: 0.2rem;
          position: absolute;
          left: 0.5rem;
          font-size: 1.5rem;
          border-radius: 50%;
          background-color: #ffffff;
          background-size: 0 10%;
          background-position: 0 0; }
          .login .inputs .input.password .icon span {
            color: #4925E1;
            font-size: 0.8rem;
            position: absolute;
            top: 50%; }
          .login .inputs .input.password .icon:hover:before {
            width: 50rem;
            height: 50rem; }
      .login .inputs .input .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.2rem;
        position: absolute;
        font-size: 1.5rem; }
        .login .inputs .input .icon span {
          color: #4925E1; }
    .login .inputs > .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      width: 100%; }
    .login .inputs .links {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .login .inputs .links a {
        color: #4925E1;
        font-size: 1.7rem; }
        .login .inputs .links a:not(:last-child) {
          margin: 1rem 0; }

.agenciesLocation {
  position: relative; }
  .agenciesLocation #map {
    width: 100%;
    height: 40rem;
    border-bottom: 4px solid #4925E1;
    margin-bottom: 2rem; }
  .agenciesLocation .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate(-50%, 0);
    z-index: 1000;
    border-radius: 2.5rem;
    box-shadow: 0.2rem 0.3rem 0.2rem #D1D1D1; }
    .agenciesLocation .search input {
      outline: none;
      border: none;
      padding: 1.35rem;
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
      text-align: right;
      width: 100%;
      font-size: 1.2rem; }
      .agenciesLocation .search input::placeholder {
        direction: rtl;
        color: #D1D1D1; }
    .agenciesLocation .search-btn {
      align-self: stretch;
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      cursor: pointer; }
      .agenciesLocation .search-btn span {
        color: #D1D1D1;
        font-size: 1.8rem; }

.row .agencies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  direction: rtl;
  margin-bottom: 10rem; }
  .row .agencies .agency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 1.5rem);
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    margin: 1.5rem 0; }
    .row .agencies .agency .logo {
      width: 25%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      align-self: stretch;
      margin: 0 1.5rem; }
    .row .agencies .agency .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      border-right: 1px solid #D1D1D1;
      align-self: stretch;
      padding: 0 2rem; }
      .row .agencies .agency .description .title {
        font-size: 1.8rem; }
      .row .agencies .agency .description .address {
        display: flex;
        align-items: center;
        margin: 1rem 0 2rem 0; }
        .row .agencies .agency .description .address p,
        .row .agencies .agency .description .address span {
          color: #D1D1D1; }
        .row .agencies .agency .description .address span {
          margin-left: 1rem;
          font-size: 1.2rem; }
      .row .agencies .agency .description .status {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .row .agencies .agency .description .status .item {
          width: 40%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
          .row .agencies .agency .description .status .item p {
            font-size: 1.4rem; }
          .row .agencies .agency .description .status .item .number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem; }
    .row .agencies .agency .readmore {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 25%;
      border-right: 1px solid #D1D1D1;
      align-self: stretch; }
      .row .agencies .agency .readmore p,
      .row .agencies .agency .readmore span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4925E1; }
      .row .agencies .agency .readmore span {
        font-size: 3.5rem; }

.row .agency-description-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .row .agency-description-container .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
    border-radius: 2.5rem;
    box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
    .row .agency-description-container .search input {
      outline: none;
      border: none;
      padding: 1.35rem;
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
      text-align: right;
      width: 100%;
      font-size: 1.2rem; }
      .row .agency-description-container .search input::placeholder {
        direction: rtl;
        color: #D1D1D1; }
    .row .agency-description-container .search-btn {
      align-self: stretch;
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      cursor: pointer; }
      .row .agency-description-container .search-btn span {
        color: #D1D1D1;
        font-size: 1.8rem; }
  .row .agency-description-container .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem;
    direction: rtl;
    background-color: #ffffff;
    border-radius: 1.5rem; }
    .row .agency-description-container .information .title {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2rem;
      border-left: 1px solid #D1D1D1;
      align-self: stretch; }
      .row .agency-description-container .information .title .logo {
        width: 60%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 1.5rem;
        align-self: stretch; }
      .row .agency-description-container .information .title .location {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch; }
    .row .agency-description-container .information .context {
      width: 70%;
      padding: 0 2rem;
      font-size: 1.3rem; }

.row .titles-categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .row .titles-categories.rtl {
    direction: rtl; }
  .row .titles-categories .title {
    display: flex;
    align-items: center;
    margin: 2rem 0; }
    .row .titles-categories .title span {
      font-size: 5rem;
      color: #4925E1;
      margin-left: 2rem; }
    .row .titles-categories .title h2 {
      margin-right: 1rem;
      color: #4925E1;
      font-size: 1.5rem;
      font-weight: 600; }
  .row .titles-categories .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%; }
    .row .titles-categories .categories .category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      padding: 1rem 3rem;
      font-size: 1.5rem;
      border-radius: 2.5rem;
      background-color: #ffffff;
      border: 0.5rem double transparent;
      color: #4925E1;
      transition: all 0.5s; }
      .row .titles-categories .categories .category:hover {
        border: 0.5rem double #4925E1; }
      .row .titles-categories .categories .category span {
        width: 5rem;
        font-size: 5rem; }
      .row .titles-categories .categories .category p {
        color: #4925E1; }
      .row .titles-categories .categories .category:not(:last-child) {
        margin: 2rem; }
    .row .titles-categories .categories .active {
      background-color: #4925E1;
      color: #ffffff;
      transition: all 0.3s; }
      .row .titles-categories .categories .active p {
        color: #ffffff; }

.row .itemsCont {
  margin-top: 2rem;
  margin-bottom: 7rem; }
  .row .itemsCont .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end; }
    .row .itemsCont .row .itemsHolder {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%; }
      .row .itemsCont .row .itemsHolder .item {
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3rem;
        overflow: hidden;
        width: 22%;
        margin-bottom: 5rem;
        height: 35rem;
        cursor: pointer; }
        .row .itemsCont .row .itemsHolder .item:not(:nth-child(4n)) {
          margin-right: 4%; }
        .row .itemsCont .row .itemsHolder .item:hover .container {
          transform: translate(0, 40%); }
        .row .itemsCont .row .itemsHolder .item .container {
          display: flex;
          flex-direction: column;
          direction: rtl;
          width: 100%;
          height: 30rem;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, black 100%);
          border-radius: 3rem;
          padding: 2rem;
          transform: translate(0, 72%); }
          .row .itemsCont .row .itemsHolder .item .container > .description {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60%; }
            .row .itemsCont .row .itemsHolder .item .container > .description p {
              font-size: 1.5rem;
              color: #ffffff; }
            .row .itemsCont .row .itemsHolder .item .container > .description .content {
              display: flex;
              align-items: center; }
              .row .itemsCont .row .itemsHolder .item .container > .description .content span {
                color: #ffffff;
                margin-left: 1.5rem; }
            .row .itemsCont .row .itemsHolder .item .container > .description .status {
              font-weight: 100;
              font-size: 1rem; }
            .row .itemsCont .row .itemsHolder .item .container > .description .name {
              font-weight: 500; }
          .row .itemsCont .row .itemsHolder .item .container .signiture {
            display: flex;
            justify-content: center;
            align-items: center; }
            .row .itemsCont .row .itemsHolder .item .container .signiture img {
              margin-left: 1rem; }
            .row .itemsCont .row .itemsHolder .item .container .signiture p {
              color: #ffffff; }

.staticPage > .row {
  direction: rtl; }
  .staticPage > .row .staticPage-title {
    width: 100%;
    position: relative;
    padding: 3rem;
    display: flex;
    align-items: center; }
    .staticPage > .row .staticPage-title h2 {
      color: #4925E1;
      font-size: 1.8rem; }
    .staticPage > .row .staticPage-title:before {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
      background-color: #4925E1;
      position: absolute;
      right: 1rem;
      top: 50%; }
  .staticPage > .row .description-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4925E1;
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin-bottom: 10rem; }
    .staticPage > .row .description-container .content {
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 3rem;
      box-shadow: 0 0.3rem 0.6rem rgba(245, 245, 245, 0.1);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .staticPage > .row .description-container .content .image {
        width: 100%;
        height: 15rem;
        border-radius: 1rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .staticPage > .row .description-container .content p {
        color: #5f5f5f;
        font-size: 1.4rem; }

.contactus > .row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto; }
  .contactus > .row #map {
    margin: 5rem auto 2rem auto;
    border-radius: 2rem;
    width: 80%;
    height: 35rem; }
  .contactus > .row .information {
    margin: 2rem auto 15rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl; }
    .contactus > .row .information .contact-info {
      display: flex;
      flex: 0 1 51%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-right: 4%;
      background-color: #ffffff;
      align-self: stretch;
      padding: 4rem;
      border-radius: 1.5rem;
      box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }
      .contactus > .row .information .contact-info .phone {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0; }
        .contactus > .row .information .contact-info .phone span {
          font-size: 3rem;
          color: #4925E1; }
        .contactus > .row .information .contact-info .phone p {
          color: #4925E1;
          font-size: 1.6rem;
          text-align: center;
          margin-top: 1rem; }
      .contactus > .row .information .contact-info .address {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0; }
        .contactus > .row .information .contact-info .address span {
          font-size: 3rem;
          color: #4925E1; }
        .contactus > .row .information .contact-info .address p {
          color: #4925E1;
          font-size: 1.6rem;
          text-align: center;
          margin-top: 1rem; }
      .contactus > .row .information .contact-info .email {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0; }
        .contactus > .row .information .contact-info .email span {
          font-size: 2.5rem;
          color: #4925E1; }
        .contactus > .row .information .contact-info .email p {
          color: #4925E1;
          font-size: 1.6rem;
          margin-top: 1rem; }
      .contactus > .row .information .contact-info .socials {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        .contactus > .row .information .contact-info .socials p {
          color: #4925E1;
          margin-top: 2rem;
          font-size: 2rem;
          margin-bottom: 1rem; }
        .contactus > .row .information .contact-info .socials .links {
          display: flex;
          justify-content: center;
          align-items: center; }
          .contactus > .row .information .contact-info .socials .links span {
            font-size: 3.5rem;
            margin: 0.2rem;
            color: #4925E1;
            transition: all 0.5s;
            position: relative;
            z-index: 0; }
            .contactus > .row .information .contact-info .socials .links span:after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              top: 50%;
              left: 50%;
              border-radius: 100%;
              transform: translate(-50%, -50%);
              background: #4925E1;
              z-index: -1;
              transition: all 0.3s; }
            .contactus > .row .information .contact-info .socials .links span:hover {
              color: #ffffff; }
              .contactus > .row .information .contact-info .socials .links span:hover:after {
                width: 110%;
                height: 110%; }
    .contactus > .row .information .inputs {
      display: flex;
      flex: 0 1 45%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      align-self: stretch; }
      .contactus > .row .information .inputs input,
      .contactus > .row .information .inputs textarea {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.3rem;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding: 1rem 2rem;
        resize: none; }
        .contactus > .row .information .inputs input:nth-child(3),
        .contactus > .row .information .inputs textarea:nth-child(3) {
          height: 30rem; }
      .contactus > .row .information .inputs > .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .contactus > .row .information .inputs > .btn:active:after {
          height: 1200%; }
      .contactus > .row .information .inputs ::placeholder {
        color: #D1D1D1; }
