@font-face {
  font-family: 'iransans';
  src: url("./../../fonts/iransans.otf");
}

html {
  font-size: $rem_size;

  @include responsive(retrina, '') {
    font-size: $rem_size * 1.7;
  }

  @include responsive(bigscreen, '') {
    font-size: $rem_size * 1.3;
  }

  &.rtl {
    direction: rtl;
  }
}

html,
body,
* {
  font-family: 'iransans';
}